<template>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <label>CEP <span>*</span></label>
            <div class="input-group">
                <input type="text" id="cep" name="cep" class="form-control cep mb-3" v-model="cep">
                <div class="input-group-append">
                    <button class="btn btn-primary mb-3" type="button" id="button-addon2" @click="localizaCep()">
                        Localizar
                    </button>
                </div>
            </div>
        </div>
         <div class="col-sm-12 col-md-2">
            <label>Cidade <span>*</span></label>
            <input v-model="cidade" name="cidade" class="form-control text-uppercase"/>
        </div>
         <div class="col-sm-12 col-md-2">
            <label>Bairro <span>*</span></label>
            <input v-model="bairro" name="bairro" class="form-control text-uppercase"/>
        </div>
        <div class="col-sm-12 col-md-5">
            <label>Endereço Completo <span>*</span></label>
            <input v-model="endereco" name="endereco" class="form-control mb-3 text-uppercase"/>
        </div>
    </div>
</template>

<script>
export default {
    props:[
        "cep",
        "bairro",
        "endereco",
        "cidade"
    ],
    data(){
        return{
            cep:"",
            endereco:"",
            cidade:"",
            bairro:""
        }
    },
    methods:{
        localizaCep(){
            // this.loadingCep=true
            this.$api.get('https://viacep.com.br/ws/'+this.cep+'/json')
            .then(res=>{
                if(res.data.erro){
                    window.alert('Nenhuma informação encontrada, prossiga com o preenchimento manual')
                }
                this.endereco = res.data.logradouro+', nº '
                this.bairro = res.data.bairro
                this.cidade = res.data.localidade
                this.$forceUpdate();
            })
        }
    }
}
$(document).ready(function() {
            $('#cep').mask('99999999');

        });
</script>
