<template>
  <div class="row">
    <div class="text-center col-12">
      <div class="form-group d-flex justify-content-end">
        <input
          class="form-control"
          type="search"
          placeholder="Busque aqui"
          v-model="buscar"
        />
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th v-for="titulo in titulos">{{ titulo }}</th>
            <th>AÇÃO</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="funcionario in lista">
            <td>{{ funcionario.matricula }}</td>
            <td>{{ funcionario.nome.toUpperCase() }}</td>
            <td>{{ funcionario.cpf }}</td>
            <td>{{ funcionario.descricao }}</td>
            <td><a :href="final" class="dropdown-item">Editar</a></td>

            <!-- <td v-for="i in funcionario">{{ i }}</td> -->
            <td>
              <div class="dropdown open">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="triggerId"
                  data-toggle="dropdown"
                >
                  Selecione
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                  <a class="dropdown-item" :href="editar"
                    >Editar</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  props: ["titulos", "funcionarios", "editar"],
  data: function () {
    return {
      buscar: "",
    };
  },
  computed: {
    lista: function () {
      let lista = this.funcionarios.data;
      if (this.buscar) {
        return lista.filter((res) => {
          res = Object.values(res);
          for (let k = 0; k < res.length; k++) {
            if (
              (res[k] + "").toLowerCase().indexOf(this.buscar.toLowerCase()) >=
              0
            ) {
              return true;
            }
          }
          return false;
        });
      }

      return lista;
    },
  },
};
</script>


